header {
  padding: 10px;
}

header > h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.container {
      background-color: white;
      padding: 2rem 3rem;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      text-align: center;
      max-width: 400px;
      width: 90%;
      margin: auto;
    }

form {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label, fieldset, legend {
  display: block;
  margin: 1rem 0 0.5rem;
}

input[type="text"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

input[type="submit"] {
  background-color: #007acc;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.stars label {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
}
